<md-card>
  <md-card-title>ログイン</md-card-title>
  <md-card-content>
    <form [formGroup]="form" class="basic-form">
      <md-form-field class="full-width-controll">
        <input type="email" mdInput placeholder="メースアドレス" formControlName="email" >
        <md-error *ngIf="form.controls.email.hasError('required')">
          Please enter a valid email address
        </md-error>
      <!--
        <md-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </md-error>
        -->
      </md-form-field>
      <br>
      <md-form-field>
          <input type="password" mdInput placeholder="パスワード" formControlName="password">
      </md-form-field>
      <br>
      <button md-raised-button color="primary" (click)="login();" >ログイン</button>
    </form>
  </md-card-content>
</md-card>