<mat-card>
  <mat-card-title>ユーザ登録</mat-card-title>
  <mat-card-content>
    <form #formSignUp="ngForm">
      <mat-form-field>
        <input matInput placeholder="メースアドレス" [(ngModel)]="user.email" name="email" #email="ngModel" required email>
        <mat-error *ngIf="email.invalid && email.errors.required">
          {{ errorMessages.required }}
        </mat-error>
        <mat-error *ngIf="email.invalid && email.errors.email">
            {{ errorMessages.email }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" matInput placeholder="パスワード" [(ngModel)]="user.password" name="password" #password="ngModel" required minlength="8">
        <mat-error *ngIf="password.invalid && password.errors.required">
            {{ errorMessages.required }}
        </mat-error>
        <mat-error *ngIf="password.invalid && password.errors.minlength">
            {{ errorMessages.passwordMinLength }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" matInput placeholder="パスワード(確認)" [(ngModel)]="user.passwordConfirm" name="passwordConfirm"  #passwordConfirm="ngModel" required minlength="8">
        <mat-error *ngIf="passwordConfirm.invalid && passwordConfirm.errors.required">
            {{ errorMessages.required }}
        </mat-error>
        <mat-error *ngIf="passwordConfirm.invalid && passwordConfirm.errors.minlength">
            {{ errorMessages.passwordMinLength }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" matInput placeholder="アカウント名" [(ngModel)]="user.name" name="name" #name="ngModel" required >
        <mat-error *ngIf="name.invalid && name.errors.required">
            {{ errorMessages.required }}
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" [disabled]="formSignUp.invalid" (click)="entry();" >登録</button>
      <mat-error *ngIf="signupErrorMessage">
        {{signupErrorMessage}}
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>